<script type="text/javascript" language="javascript" src="{{ asset('js/funSopa.js') }}"></script>
<div class="row">
        <div class="finish" style="width: 100%; background: rgba(123,123,123,0.8); position: absolute;z-index: 900; display: none; text-align: center; padding-top: 25%" id="result_finish_soup">
                <h1>Finalizado</h1>
        </div>
        <div class="col-8" >
                <div class="row">
                        <div class="alert alert-success alert-dismissible fade" role="alert" id="alert-success"  style="display:none;" >
                                <h4 class="alert-heading">¡Felicitaciones!</h4>
                                <p>Lograste completar la Sopa de Letras, sigue así.</p>
                                <hr>
                                <p class="mb-0">Si tienes videos pendientes por ver, ya puedes continuar, sigue asi.</p>
                        </div>
                </div>
                <table align="center" frame="box" rules="alls" border="1" cellspacing="0" cellpadding="2" class="tablaSopa" style="z-index:2;">
                    {% set sopa = alphabetSoup %}
                    {% for row in alphabetSoup %}
                        <tr>
                            {% set i = loop.index0 %}
                            {% set lengthSoup = (alphabetSoup|length)-1 %}
                            {% for column in 0..lengthSoup %}
                                <td
                                        id="letra_{{ i }}_{{ column }}"
                                        value="{{ alphabetSoup[i][column] }}"
                                        style="text-align:center;width:20px;height:20px;cursor:pointer;cursor:hand;"
                                        onMouseDown="marcarSopa({{ i }},{{ column }})"
                                        class="celdasSopa"
                                >{{ alphabetSoup[i][column] }}</td>
                {#                {% set sopa[i][column] = alphabetSoup[i][column] %}#}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
        </div>
        <div class="col-4">
                <div class="row">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert-fail" style="display:none">
                                Has perdido, se guardará tu resultado, pero puedes volver a intentarlo
                        </div>
                </div>
                <ul class="list-group">
                        {% for list in alphabetSoupFromVideo.words %}
                                <li class="list-group-item " id="list_{{ list }}">{{ alphabetSoupFromVideo.question[loop.index0] }} <strong class="bg-danger" id="list_{{ list }}_word" style="display: none;"> {{ list }}</strong> </li>
                        {% endfor %}
                </ul>
                <div class="mb-3 row">
                        <label for="staticFail" class="col-sm-6 col-form-label">Posibles fallas</label>
                        <div class="col-sm-6">
                                <input type="text" readonly class="form-control-plaintext" id="staticFail" value="4">
                        </div>
                </div>
        </div>
</div>
<script language="JavaScript" type="text/javascript">

        var sopa = new Array();

    {% for row in alphabetSoup %}

        {% set i = loop.index0 %}
        sopa[{{ i }}] = new Array();
        {% for column in 0..(alphabetSoup|length - 1 ) %}
            ReconoceCapas('letra_{{ i }}_{{ loop.index0 }}');
            sopa[{{ i }}][{{ loop.index0 }}] = "{{ alphabetSoup[i][loop.index0] }}";
        {% endfor %}
    {% endfor %}
    filas = {{ alphabetSoupFromVideo.rows }};
    columnas = {{ alphabetSoupFromVideo.columnSoup }};
    originWords = "{{ alphabetSoupFromVideo.words|join(',') }}";
    var urlSave = "{{ url('app_alphabet_soup', {'alphabetSoup': alphabetSoupFromVideo.id }) }}"
</script>
<form name="formulario">
        <center>
                <input type="button" value="Limpiar Sopa"  onClick="borrar({{ alphabetSoupFromVideo.rows }}, {{ alphabetSoupFromVideo.columnSoup }});" id="btn-limpiar" style="display:none;" />
        </center>
</form>