
<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
<div id="hangman-div2">
    <div class="finish" style="width: 100%; background: rgba(123,123,123,0.8); position: absolute;z-index: 900; display: none; text-align: center; padding-top: 25%" id="result_finish-hangman">
        <h1>Finalizado</h1>
    </div>
    <p>
        {{ video.hangman.question }}
    </p>
    <div>
        Selecciona una letra:
        <div id="letters">
            {% for char in 'A'..'Z' %}
                <span class="letter">{{ char }}</span>
            {% endfor %}

            <div class="clear"></div>
        </div>
        <div id="lives-left-div">
            Intentos restantes: <span id="lives-left">{{ video.hangman.attempt }}</span>
        </div>
    </div>
    <div>
        <img src="{{ asset('images/hangman/0.jpg') }}" id="hangman" alt="hangman"/>
    </div>
    <div>
        <div id="guessed-word-div">

        </div>
        <div id="the-word-was-div" class="display-none"></div>
        <div id="play-again-div" class="display-none">
            <a href="index.php">Play again?</a>
        </div>
    </div>
    <div class="clear"></div>
</div>

{#<script src="{{ asset('js/jquery-2.1.3.min.js') }}"></script>#}
<script type="application/javascript">
    var wordsToFind = '{{ video.hangman.dictionary|join(',') }}';
        wordsToFind = wordsToFind.split(',');
        wordsToFind = wordsToFind[Math.round(Math.random()*((wordsToFind.length - 1))+parseInt(0))];

    localStorage.setItem('words', wordsToFind);
    localStorage.setItem('foundLetters','');

    var blankWord =  '';

    var live = {{ video.hangman.attempt }}
    var imagen = 0;

    for(let i = 0; i < wordsToFind.length; i++)
    {
        blankWord += wordsToFind.slice(i,1) != ' ' ? '<span class="guessed-letter">_</span>' : ' ';
    }
    $('#guessed-word-div').html(blankWord);
    var urlHangman = "{{ url('app_hangman',{video:video.id}) }}";

</script>
<script src="{{ asset('js/script_handman.js') }}"></script>

