{% extends 'base.html.twig' %}

{% block body %}
    <div class="align-content-center mb-1">
        <div id="player" class="justify-content-center"></div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown" id="take_test" style="display: none;">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" id="goto-test">
                    Realizar prueba
                </a>
            </div>
        </div>
        <div class="col-6">
            {#<div class="position-relative" id="body-playlist" style="display: none;">
                <p class="position-relative text-center">
                    Videos por ver:
                </p>
                <div class="btn-group position-relative top-0 start-50 translate-middle" role="group" aria-label="Basic mixed styles example">
                    {% if playList['before'] %}
                        {% set idBefore = playList['before'].id %}
                        <a type="button" class="btn btn-danger" href="{{ url('learning_video', {'video':idBefore} ) }}"><< Anterior</a>
                    {% endif %}
                    {% if playList['after'] %}
                        {% set idAfter = playList['after'].id %}
                        <a type="button" class="btn btn-success" href="{{ url('learning_video', {"video":idAfter} ) }}">Siguiente >></a>
                    {% endif %}
                </div>
            </div>#}
        </div>
    </div>
    <div class="align-content-center">

        <div class="collapse" id="collapseExample">
            <div class="card card-body" id="body-question">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>

    </div>
    <div class="collapse" id="collapseTest">
        <div class="card card-body" id="body-question">

        </div>
    </div>
    <script>
        let withTest = "{{ withTest }}";
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .align-content-center{
            display: flex;
            justify-content: center;
            margin-bottom: 15vh;
        }
        #player{
            align-self: center;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '400',
                width: '100%',
                videoId: '{{ video.videoId }}',
                autoplay: 1,
                playerVars: {
                    'playsinline': 0,
                    color: 'white'
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            player.seekTo({{ videoUser.currentTime??0 }})
            event.target.playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        var done = false;
        function onPlayerStateChange(event) {
            let currentTime =  player.getCurrentTime();
            let totalTime =  player.getDuration();
            let video = {
                'currentTime':currentTime,
                'totalTime':totalTime,
                'user': "{{ app.user.id }}",
                'video': "{{ video.id }}"
            };

            if(event.data == YT.PlayerState.PAUSED || event.data == YT.PlayerState.ENDED && ((currentTime / totalTime) > 0.98)){
                if(withTest) {
                    $.get("{{ path('app_question', {'video':video.id}) }}",
                        function (response) {
                            $('#body-question').html(response);
                            $('#staticBackdrop').modal('show');
                            $('#take_test').css('display','block');
                            $('#body-playlist').css('display','block');
                        });
                }

                $.post("{{ url('app_video_save_video_by_user') }}", {
                    data:{video},
                    dataType: "json",
                    success: function (response){
                        // console.log(response);
                    }
                });

            }

        }
        function stopVideo() {
            player.stopVideo();
        }

        function formatTime(time){
            time = Math.round(time);

            var minutes = Math.floor(time / 60),
                seconds = time - minutes * 60;

            seconds = seconds < 10 ? '0' + seconds : seconds;

            return minutes + ":" + seconds;
        }

        $('#goto-test').click(function (){
            window.scrollTo(0,1000);
        });
    </script>
{% endblock %}

